body {
	margin: 0;
	padding: 0;
	font-family: Arail, sans-serif;
	font-size: 12px;
}

/* --- Header --- */
.header {
	width: 100%;
}

.header ul {
	float: right;
	list-style-type: none;
	font-size: 1.1em;
	height: 30px;
}

.header ul li:first-child {
	color: #AAA;
}

.header ul li {
	display: inline-block;
	padding: 0 12px;	
}

.header a {
	color: #333;
	text-decoration: none;
}

.header .headshot {
	float: right;
}

.header ul li:not(.headshot) {
	margin-top: 14px;
}

.header .img-round {
	position: relative;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	overflow: hidden;	
}

.header .headshot a img {
	position: absolute;
	margin-top: -5px;
}