body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

/* --- Header --- */
.header {
	width: 100%;
	display: inline-block;
}

.header ul {
	float: right;
	list-style-type: none;
	font-size: 1.1em;
	height: 30px;
}

.header ul li:first-child {
	color: #AAA;
}

.header ul li {
	display: inline-block;
	padding: 0 12px;	
}

.header a {
	color: #333;
	text-decoration: none;
}

.header .headshot {
	float: right;
}

.header ul li:not(.headshot) {
	margin-top: 14px;
}

.header .img-round {
	position: relative;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	overflow: hidden;	
}

.header .headshot a img {
	position: absolute;
	margin: -5px 0 0 -3px;
}

/*--- Search ---*/
.search {
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 145px;
}

.search-box {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 28px;
}

.search-box input {
	width: 455px;
	height: 28px;
	padding: 5px 10px;
	border: 1px solid #CCC;
}

.search-box input:focus {
	outline: none;
	border: 1px solid dodgerblue;
}

.search-box img {
	position: absolute;
	top: 9px;
	right: 10px;
}

.search-buttons {
	margin-top: 30px;
}

.search-buttons input {
	border: 1px solid #EEE;
	padding: 10px;
	margin: 0 4px;
	font-weight: bold;
	background: #EEE;
	color: #777;
}

.search-buttons input:hover {
	color: #222;
	border: 1px solid #999;
	background: linear-gradient(to top, #DDD, #EEE)
}

