body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

/* --- Header --- */

.header {
	width: 100%;
	display: inline-block;
}

.header ul {
	float: right;
	list-style-type: none;
	font-size: 1.1em;
	height: 30px;
	margin-right: 20px;
}

.header ul li:first-child {
	color: #AAA;
}

.header ul li {
	display: inline-block;
	padding: 0 8px;	
}

.header a {
	color: #333;
	text-decoration: none;
}

.header .headshot {
	float: right;
}

.header ul li:not(.headshot) {
	margin-top: 10px;
}

.header .img-round {
	position: relative;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	overflow: hidden;	
}

.header .headshot a img {
	position: absolute;
	margin: -5px 0 0 -3px;
}

/*--- Search ---*/

.search {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 142px;
}

.search-box {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 28px;
}

.search-box input {
	width: 455px;
	height: 28px;
	padding: 5px 10px;
	border: 1px solid #CCC;
}

.search-box input:focus {
	outline: none;
	border: 1px solid dodgerblue;
}

.search-box img {
	position: absolute;
	top: 9px;
	right: 10px;
}

.search-buttons {
	margin-top: 30px;
}

.search-buttons input {
	border: 1px solid #EFEFEF;
	padding: 10px 15px;
	margin: 0 2px;
	font-weight: bold;
	background: #EFEFEF;
	color: #777;
}

.search-buttons input:hover {
	color: #222;
	border: 1px solid #999;
	background: linear-gradient(to top, #DDD, #EEE)
}

/*--- Footer ---*/

.footer {
	height: 40px;
	width: 100%;
	background: #EEE;
	border-top: 1px solid #DDD;
	position: absolute;
	bottom: 0;
	left: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.footer ul {
	padding: 0 30px 0 30px;
}

.footer ul li a {
	text-decoration: none;
	color: #777;
	font-size: 1.1em;
}

.footer ul li {
	display: inline-block;
	padding-right: 30px; 
}

.footer ul:last-child li:last-child {
	padding-right: 0;
}


